<div class="container-fluid full-height content-layer">
  <div class="row full-height quote">
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4 text-center vertical-center">
      <h1>“...if you prefer your Auto Layout hand
      crafted in code then you might want to
      have a look at this new library (...)
      There's plenty of libraries that give a
      new syntax to NSLayoutConstraints, but
      I really liked the look of this one...”</h1>
      <h2>iOS Dev Weekly, issue 246</h2>
    </div>
  </div>
  <div class="row full-height snippet">
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-6 col-md-3 text-left vertical-center">
      <span class="code-comment">
        /**<br>
        This is the syntax. Establishing position and dimension attributes is really straightforward as well as creating relationships between items.<br>
        */
      </span><br><br>
      <span class="code-green">red</span> <- [<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="code-green">Size</span>(<span class="code-blue">*0.5</span>),<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="code-green">Center</span>(<span class="code-blue">0.0</span>)<br>
      ]<br><br>
      <span class="code-green">blue</span> <- [<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="code-green">Size</span>(<span class="code-blue">20.0</span>).<span class="code-green">like</span>(<span class="code-green">red</span>),<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="code-green">Center</span>(<span class="code-blue">0.0</span>).<span class="code-green">to</span>(<span class="code-green">red</span>)<br>
      ]<br>
    </div>
  </div>

  <div class="row full-height landing">
    <div class="col-md-offset-4 col-md-4 text-center links vertical-center">
      <button type="button" class="btn btn-lg btn-secondary github-clone github-link">GitHub</button>&nbsp;
      <button type="button" class="btn btn-lg btn-secondary github-clone cocoapods-link">CocoaPods</button>&nbsp;
      <button type="button" class="btn btn-lg btn-secondary github-clone cocoadocs-link">CocoaDocs</button>
    </div>
  </div>
</div>
