<div class="container-fluid full-height screen-layer hidden-xs hidden-sm">
  <div class="row full-height">
    <div class="col-md-offset-3 col-md-3 text-center vertical-center">

    </div>
  </div>
  <div class="row full-height">
    <div class="col-md-offset-3 col-md-3 text-center vertical-center">
      <img class="device" src="<%= url('/images/snippet-1.png') %>">
    </div>
  </div>
  <div class="row full-height">
    <div class="col-md-offset-3 col-md-3 text-center vertical-center">
      <img class="device" src="<%= url('/images/snippet-2.png') %>">
    </div>
  </div>
</div>
